@model MVC_JobSearch.Models.ApplicationInsert
@{
    ViewBag.Title = "Apply_Load";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Job Application</h2>
<div>
   
    @Html.DisplayFor(m => m.msg)
</div>



